.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background-image: url(/public/loading/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    display: flex;
    align-items: end;
    justify-content: center;
    overflow: hidden;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.loading-screen--exit {
    opacity: 0;
    pointer-events: none;
}

.loading-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.loading-content {
    position: relative;
    z-index: 2;
}

.speech {
    font-family: 'Press Start 2P';
    font-weight: normal;
    font-size: .75rem;
    border-style: solid;
    border-width: 16px;
    border-image-source: url('/public/loading/speech.png');
    border-image-repeat: repeat;
    border-image-slice: 33% fill;
    image-rendering: pixelated;
    padding: 10px;
    width: 400px;
    height: fit-content;
    min-height: 2rem;
    margin-bottom: 5rem;
    line-height: 1.5;
    position: relative;
}

.speech-arrow {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 1rem;
    animation: arrowBlink 1s infinite;
}

@keyframes arrowBlink {
    0%, 49% {
        opacity: 1;
    }
    50%, 100% {
        opacity: 0;
    }
}

@media (width<768px) {
    .speech {
        width: 300px;
    }
}