.canvas-container {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: black;
}

.catch-button {
  padding: 10px 20px;
  font-size: 1rem;
  color: black;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 100%;
}

.catch-button:hover {
  background-color: #ffcc00;
}

.catch-button:active {
  background-color: #ff9900;
}